- title "Trabaja el contenido, nosotros el estilo APA"
%p 
  No deseas perder el tiempo en hacer el formato APA y prefieres 
  concentrarte en los contenidos y el fondo de tu trabajo
%p
  Tienes que trabajar en grupo pero no sabes si están haciendo el trabajo
  y cuánto han avanzado tus compañeros
%p
  Necesitas que alguien corrija tu tesis o trabajo y mejor la redacción y estilo
  pero sabiendo qué cambia y qué no
%p
  En sí, necesitas más control sobre tu tesis o trabajos

%p
  EstiloAPA.com es la solución

%p= "Para crear documentos por favor #{link_to "REGÍSTRESE", new_user_path}"
%p= link_to "Iniciar sesión", new_user_session_path

%p
  OJO: versión en prueba de concepto. Por ahora puedes registrarte, crear documentos, 
  y generar PDF en formato APA libremente
  No dudes en contactarme en estiloAPA arroba cristiancastillo.com si deseas
  màs información o aportar de alguna forma

%p
  Fecha tentativa de lanzamiento: 01/03/2010
  
%p
  Lee el blog para estar actualizado:
  = link_to "Blog", "http://cristiancastillo.com"
  