- title "Quiénes somos"
%h1
  Quienes somos
%p
  %strong
    = link_to "casadeplaya.com", root_path
  es el lugar ideal para buscar una casa de playa en el Per&uacute;, ya sea para alquilarla o comprarla. 
  El sitio cuenta con los filtros de b&uacute;squeda adecuados para encontrar la casa 
  que mejor refleje sus necesidades tras una exhaustiva comparaci&oacute;n entre m&uacute;ltiples alternativas, 
  as&iacute; como un archivo de b&uacute;squedas para poder conservar la informaci&oacute;n 
  de los inmuebles que le volver&iacute;a a interesar revisar en el futuro.
%p
  Para el ofertante no podr&iacute;a ser m&aacute;s id&oacute;neo: desde su propia 
  computadora puede ingresar directamente los datos completos de su propiedad con todas 
  sus caracter&iacute;sticas. M&aacute;s a&uacute;n, s&oacute;lo ll&aacute;menos para 
  ir a tomarle fotos a su inmueble y publicarlas.
%p
  %strong
    = link_to "casadeplaya.com", root_path
  pretende superar las deficiencias que presenta el mercado 
  inmobiliario de playas mejorando las posibilidades para que demandantes y 
  ofertantes interactuen entre si. Lea los t&eacute;rminos legales que se incluyen al final de esta p&aacute;gina.

%h2
  Oficina central:
%p
  Inversiones Socyac S.A.C
  %br
  R.U.C 20501308430
%p
  Av. República de Panam&aacute; 6435 - Miraflores
%p
  Tel&eacute;fonos: (511) Per&uacute;:
  %br
  %span
    610-7299
%h2
  Atenci&oacute;n al cliente
%p
  Maria Elena Mu&ntilde;oz
  %br
  = mail_to('mariaelena@casadeplaya.com', 'email')
  %br
  Cel: 996 306 822
  RPM: * 288228
%h2
  WebMaster
%p
  Cristian Castillo Placencia
  %br
  = mail_to('webmaster@casadeplaya.com', 'email')
