- title "Tarifas y servicios de publicidad"
%h1
  Tarifas
%p
  Ofrecemos un espacio para anunciar su casa de playa, terreno, departamento, 
  hospedaje y otros servicios en las principales playas del Per&uacute;.
%table.table1{ :cellspacing => "1", :border => "0", :cellpadding => "1" }
  %thead
    %tr
      %th{ :width => "511" }
        Aviso en casadeplaya.com(*)
      %th{ :width => "64" }
        Vigencia
      %th{ :width => "44" }
        Precio
  %tbody
    %tr
      %td
        Aviso normal + 10 fotos.
        %br
        Puede publicar hasta 5 fotos grandes o 10 fotos peque&ntilde;as.
        %br
        Agregue sus fotos en l&iacute;nea o las escaneamos sin costo adicional.
      %td
        03 meses
      %td
        US$30
    %tr
      %td
        Aviso normal + 10 fotos.
        %br
        Puede publicar hasta 5 fotos grandes o 10 fotos peque&ntilde;as.
        %br
        Agregue sus fotos en l&iacute;nea o las escaneamos sin costo adicional.
      %td
        06 meses
      %td
        US$45
    %tr
      %td
        Aviso normal + 10 fotos.
        %br
        Puede publicar hasta 5 fotos grandes o 10 fotos peque&ntilde;as.
        %br
        Agregue sus fotos en l&iacute;nea o las escaneamos sin costo adicional.
      %td
        12 meses
      %td
        US$70
    %tr
      %td
        Aviso normal + Servicio de toma fotogr&aacute;fica (10 fotos)
        %br
        Y adem&aacute;s podemos ir a tomarle fotos a su inmueble.
        %br
        Este servicio es v&aacute;lido si la playa se encuentra entre Anc&oacute;n y el KM 120.
      %td
        06 meses
      %td
        US$100
%h2
  Sobre la forma de pago:
%h3
  Para pagar sus avisos y ver el estado de sus pagos
%p
  Acceda a su
  = link_to('Zona de Usuario.', new_user_session_path)
%p
  Ahora aceptamos pagos con tarjeta de cr&eacute;dito. Puede realizar su pago en l&iacute;nea.
%h3
  Puede hacer su pago depositando el monto en
%p
  Banco de Cr&eacute;dito del Per&uacute;
  %br
  Cuenta D&oacute;lares
  %br
  194-1472360-1-32
  %br
  A nombre de: Inversiones Socyac S.A.C.

%p
  NO OLVIDE ENVIARNOS EL VOUCHER DEL DEP&Oacute;SITO POR FAX AL 445 8853 o enviarnos un email con los datos del voucher. 
  Si no lo hace, no podremos publicar su aviso. Confirme su pago via e-mail haciendo clic en
  
  = link_to('Contáctenos','/contacto')
  
  o ll&aacute;menos a nuestras oficinas. D&iacute;ganos si desea factura o boleta, 
  y la fecha y hora y agencia donde realiz&oacute; el pago (datos del voucher). 
  Si ya ha depositado en el banco y a&uacute;n no habilitan su aviso, ll&aacute;menos o env&iacute;enos un email.

%h3
  Puede acercarse a las oficinas Casadeplaya.com

%p= link_to('Datos de nosotros','/quienes')
